


.form_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    font-family: 'roboto';
    /* background-color:#5463FF; */
    /* height:50vh; */
}
form h1{
    font-weight:300;
    font-size:20px;
    margin-bottom:10px;
}
form{
    padding:20px 30px;
    background-color:white;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* align-items: center; */
    
}

form div{
    border-bottom:1px solid #ddd;
    display: flex;
    padding: 10px;
    margin: 5px;
    align-items:center;
}
/* form div: */
i{
    color:#5463FF;
    margin-right: 5px;
    font-size: 15px;
}
/* form div:nth-child(4){
    justify-content:space-between;
}
form div:nth-child(5){
    justify-content:space-between;
} */
form input{
    border:none;
    font-family: 'roboto';
    font-size: 10px;
    /* width: 50px; */
    margin-left: 10px;
    /* margin:10px; */
}

form input:focus{
    outline:none;
    border:none;
}

.btn{
    padding:5px 10px;
    margin-left: 10px;
    border:none;
    border-radius: 5px;
}

.btn_primary{
    /* font-weight: 100; */
    color: white;
    background-color:#5463FF;
}
form button{
    font-family: roboto;
    font-weight: 300;
    font-size: 12px;
}

form p{
    font-size: 10px;
    text-align: center;
    font-weight:300;
}

input[type="checkbox"]{
    margin:0 0 10px 0;
    /* width: 20px; */
}

