.header_section{
    display:flex;
    justify-content:space-evenly;
    margin-top:50px;
    flex-wrap: wrap;
    align-items: center;
}

button{
    border:none;
}

.header_section div{
    padding:10px;
    margin-bottom: 20px;
}

.header_section h1{
    margin-top:10px;
    font-weight:900;
    font-size:60px;
    animation: moveLeft 3s ease-out;
    /* transition:ease; */
}

.header_section h1:nth-last-of-type(odd){
    color: #5463FF;
}

.header_section  p{
    margin:10px;
    font-weight:300;
    letter-spacing: 5px;
    animation: moveLeft 3s ease-out;
}

.header_section hr{
    width:50px;
    margin:5px 0 20px 10px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:3px solid #5463FF;
    padding:10px;
    /* border-radius: 5px; */
}

.br-5{
    border-radius:5px;
}

.header_section img{
    width: 400px;
    animation: moveRight 3s ease-out;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

@keyframes moveRight {
    0%{
        opacity:0;
        transform: translateX(90px);
    }
    80%{
        transform: translateX(-50px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}

@keyframes moveLeft {
    0%{
        opacity:0;
        transform: translateX(-90px);
    }
    80%{
        transform: translateX(50px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}

.about_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* padding: 20px; */
}
.about_section div{
    padding: 20px;
    width: 60%;
}
.about_section h1{
    margin-top:10px;
    font-weight:900;
    font-size:50px;
}


.about_section p{
    margin:10px;
    font-weight:300;
    letter-spacing: 2px;
}

.about_section hr{
    width:50px;
    margin:5px 0 20px 10px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:3px solid #5463FF;
    padding:10px;
}

.about_section img{
    width:400px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.footer{
    text-align: center;
    margin-top:50px;
    padding: 10px;
    background-color: #5463FF;
    color: #fff;
    font-weight: 100;
    letter-spacing:2px;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.feature_section h1{
    margin-top:10px;
    font-weight:900;
    font-size:50px;
}
.feature_section{
    text-align: center;
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature_section div{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.feature_section img{
    width:300px;
    margin: 20px;
    animation: rotate 5s infinite linear;
    
}

.feature_section img:nth-last-of-type(odd){
    animation: rotate2 5s infinite linear;
}

.feature_section hr{
    width:50px;
    margin:5px 0 20px 10px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:3px solid #5463FF;
    padding:10px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}
@media only screen and (max-width:600px){
    .header_section{
        margin-top:20px
    }
    .header_section h1{
        margin-top:10px;
        font-weight:900;
        font-size:40px;
    }
    .header_section  p{
        margin:10px;
        font-weight:300;
        letter-spacing: 1px;
    }
   
    .header_section img{
        width: 250px;
    }
    
    .about_section{
        justify-content:center;
    }

    .about_section h1{
        font-size:30px;
    }
    .about_section img{
        width:250px;
    }

    .feature_section h1{
        margin-top:10px;
        font-weight:900;
        font-size:30px;
    }

    .feature_section img{
        width:250px;
    }
}